* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-wrapper {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form-wrapper h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #3e8e41;
}


.form-wrapper:hover:before {
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.success-message {
  background-color: #ff00ff;
  color: #3c763d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f8;
  font-family: Arial, sans-serif;
  margin: 0;
}

.chat-home {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(233, 4, 4, 0.2);
}

.chat-header {
  background-color: #5c6bc0;
  color: #fff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.chat-body {
  padding: 10px;
}

.chat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.chat-item-avatar img {
  border-radius: 50%;
  margin-right: 10px;
}

.chat-item-info h3 {
  margin: 0;
  font-size: 16px;
}

.chat-item-info p {
  margin: 0;
  color: #888;
}
.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-box {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  width: 200px;
  transition: all 0.3s ease;
}

.search-box:focus {
  border-color: #5c6bc0;
  width: 300px;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.search-button:hover {
  transform: scale(1.2);
}

