<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.java.servlet</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/webapi/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demoserv</display-name>
    <servlet-name>Demoserv</servlet-name>
    <servlet-class>com.java.servlet.Demoserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demoserv</servlet-name>
    <url-pattern>/Demoserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.java.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDBServlet</display-name>
    <servlet-name>LoginDBServlet</servlet-name>
    <servlet-class>com.java.servlet.LoginDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDBServlet</servlet-name>
    <url-pattern>/LoginDBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUPDBServlet</display-name>
    <servlet-name>SignUPDBServlet</servlet-name>
    <servlet-class>com.java.servlet.SignUPDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUPDBServlet</servlet-name>
    <url-pattern>/SignUPDBServlet</url-pattern>
  </servlet-mapping>
</web-app>